body {
  font-family: 'Roboto', sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB
}

.text-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

/*
  Some images were displayed rotated -90 degrees. The below code corrects
  this by rotating the image 90 degrees.
*/
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
  I want to display a small image of the kids, one over the other. The images
  wouldn't align properly at first. I googled until I found a solution. The
  code below aligns the images vertically and leaves a space between them.
  The name is very specific, primarily because of "margin-top". I doubt the
  value of "margin-top" will be the same in each case.
*/
.vertAlignKidsPix {
  display: block;
  margin-top: 15px;
}
